body{
  background-image: url('table-pic.jpg');
  background-repeat: no-repeat;
  background-position:center;
  background-attachment: fixed;
  background-size:cover;
}

#accountPanel{
  position: fixed;
  top: 20px;
  left: 20px;
  right: auto;
  bottom: auto;
  width: 200px;
  height: 60px;
  border: solid;
  border-color: gray;
  border-width: 2px;
  background-color: darkgoldenrod;
}

#accountFormFeedback{
  position: absolute;
  bottom: 50px;
  width: 100%;
  height: 50px;
  text-align: center;
  color: red;
  font-size: 28px;
}

#usernameRender{
  display: inline;
}

#accountText{
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  width: auto;
  height: 30px;
  text-align: center;
}

#registerButton{
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 90px;
}

#loginButton{
  position: absolute;
  bottom: 5px;
  left: 105px;
  width: 90px;
}

#chessboard{
  position: fixed;
  top: 20%;
  bottom: 20%;
  height: 640px;
  width: 640px;
  margin-left: -320px;
  left: 50%;
  right: auto;
  border: solid;
  border-color: darkgoldenrod;
  border-width: 2px;
  z-index: 5;
}

#chessboardModal{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 50;
}

#chessboardModalContent{
  position: relative;
  display: block;
  top: 50%;
  bottom: auto;
  left: 50%;
  right: auto;
  width: 400px;
  height: 50px;
  margin-left: -200px;
  color: white;
  font-weight: bold;
  font-size: large;
}

.checkertile{
  width: 80px;
  height: 80px;
  float: left;
  position: relative;
}

.piecered{
  border-color: red;
  background-color: red;
  border: solid;
  border-radius: 50%;
  z-index: 25;
  width: 80px;
  height: 80px;
  display: block;
  left: 10%;
  width: 80%;
  height: 80%;
  top: 10%;
  position: absolute;
}

.pieceblack{
  border-color: purple;
  background-color: purple;
  border: solid;
  border-radius: 50%;
  z-index: 25;
  width: 80px;
  height: 80px;
  display: block;
  left: 10%;
  width: 80%;
  height: 80%;
  top: 10%;
  position: absolute;
}

.kingmarker{
  color: black;
  text-align: center;
  font-size: 32pt;
  font-style: italic;
  font-weight: bold;
}

.blackTile{
  float: left;
  width: 80px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.75);
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.whiteTile{
  float: left;
  width: 80px;
  height: 80px;
  background-color: rgba(1, 1, 1, 0.75);
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#scorepanel{
  position: fixed;
  left: 25px;
  width: 200px;
  top: 20%;
  bottom: auto;
  height: 60%;
  border: solid;
  border-color: red;
  border-width: 2px;
  background-color: rgba(0.3, 0.3, 0.3, 0.8);
  color: white;
}

#scoreTitle{
  display: block;
  text-align: center;
  height: 100px;
  font-size: 16px;
}

#scoreRender{
  position: absolute;
  top: 100px;
}

#gamepanel{
  position: fixed;
  right: 25px;
  width: 200px;
  top: 20%;
  bottom: auto;
  height: 60%;
  border: solid;
  border-color: darkblue;
  border-width: 2px;
  background-color: rgba(0.3, 0.3, 0.3, 0.8);
  color: white;
}

#panelPlayerScore{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  padding: 16px;
  font-size: large;
  text-align: left;
}

#panelComputerScore{
  position: absolute;
  top: 50px;
  left: 0px;
  width: 100%;
  height: 100px;
  padding: 16px;
  font-size: large;
  text-align: left;
}

#controlpanel{
  position: absolute;
  top: 100%;
  margin-top: 25px;
  width: 100%;
  border: solid;
  height: 50px;
  border-color: darkgreen;
  border-width: 2px;
  background-color: rgba(0.3, 0.3, 0.3, 0.8);
  color: white;
  z-index: 5;
}

#controlPanelHolder{
  width: 100%;
  height: 100%;
}

#controlPanelInner{
  display:flex;
  position: absolute;
  width: 620px;
  height: 40px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.controlPanelButton{
  flex:1
}

#gameError{
  position: absolute;
  top: 100%;
  margin-top: 25px;
  width: 80%;
  left: 10%;
  right: auto;
  border: solid;
  height: 50px;
  border-color: purple;
  border-width: 2px;
  background-color: rgba(0.3, 0.3, 0.3, 0.8);
  color: white;
  z-index: 4;
}

#gameErrorRender{
  text-align: center;
  font-size: 16px;
}

#accountForm li{
  list-style: none;
  list-style-type:none;
  color: white;
}

#accountForm label{
  width: 25%;
}

#accountForm input{
  width: 75%;
}

#doRegisterButton{
  position: absolute;
  bottom: 5px;
  left: 80px;
  width: 80px;
  height: 20px;
}

#doLoginButton{
  position: absolute;
  bottom: 5px;
  left: 280px;
  width: 80px;
  height: 20px;
}

/* Modal begin */

.modal{
  display: none;
  position: fixed;
  z-index: 100;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0); /* Compatibility */
  background-color: rgba(0, 0, 0, 0.4);
  animation-name: modalbganimation;
  animation-duration: 0.3s;
}

.modalContent{
  display: block;
  position: fixed;
  background-color: rgb(50,75,75);
  margin: 10% auto;
  padding: 20px;
  border: solid;
  border-width: 2px;
  border-color: darkgoldenrod;
  width: 500px;
  height: 500px;
  left: 50%;
  right: auto;
  top: 35%;
  bottom: auto;
  margin-left: -250px;
  margin-top: -250px;
  animation-name: modalanimation;
  animation-duration: 0.4s;
  z-index: 101;
}

.modalTitle{
  display: block;
  position: relative;
  background-color: darkgrey;
}

#accountModalTitle{
  height: 50px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: brown;
  text-align: center;
  font-size: xx-large;
}

#accountModalClose{
  float: right;
  top: 5px;
  left: auto;
  right: 5px;
}

.modalInner{
  display: block;
  position: relative;
  width: 480px;
  height: 440px;
  margin: 10px;
  border: solid 3px black;
}

#doRegisterButton{
  position: absolute;
  bottom: 10px;
}

#doLoginButton{
  position: absolute;
  bottom: 10px;
}

@keyframes modalanimation {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes modalbganimation {
  from {opacity: 0}
  to {opacity: 0.4}
}


/* Modal end */
