body{
  background-image:url('img/table-pic.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#box1{
  text-align:center;
  color:white;
  font-family:Helvetica, sans-serif;
}

#box2{
  width:50%;
  position:fixed;
  top:0;
  margin-left:24%;
  margin-top:1%;
  text-align:center;
  color:rgb(0, 255, 208);
  font-family:impact;
  font-size:100px;
}

#box3{
  position:fixed;
  top:0;
  left:0;
  margin-top:10%;
  margin-left:5%;
  padding:10px;
  height:600px;
  width:350px;
  border:10px solid red;
  color:rgb(0, 255, 208);
  font-family:Comic Sans MS;
  font-size:30px;
}

#box4{
  position:fixed;
  top:0;
  right:0;
  margin-top:10%;
  margin-right:5%;
  padding:10px;
  height:600px;
  width:350px;
  border:10px solid red;
  color:rgb(174, 0, 255);
  font-family:Comic Sans MS;
  font-size:30px;
}

#welcome{
}

.board{
  position:fixed;
  top:0;
  left:0;
  margin-top:10%;
  margin-left:34%;
  width:600px;
  height:600px;
  border:10px solid black;
}

.white{
  width:75px;
  height:75px;
  background-color:white;
  text-align:center;
  vertical-align:middle;
  display:table-cell;
  float:left;
}

.brown{
  width:75px;
  height:75px;
  background-color: rgb(0, 255, 208);
  text-align:center;
  vertical-align:middle;
  display:table-cell;
  float:left;
}

.redCircle{
  height: 50px;
  width: 50px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-top:12px;
  color:white;
  text-align:center;
  line-height:45px;
}

.blackCircle{
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  margin-top:12px;
  color:white;
  text-align:center;
  line-height:45px;
}

#newGame{
  position:fixed;
  bottom:0;
  margin-left:44%;
  margin-bottom:4%;
}

#clicker1{
  width:200px;
  font-size:20px;
}

#clicker2{
  width:200px;
  font-size:20px;
}
