body{
  background-image:url('img/chess-pic.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#box1{
  text-align:center;
  color:white;
  font-family:Helvetica, sans-serif;
}
